html, body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #A3CEF1 10%, #6096BA 90%);
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
}

/* For WebKit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #ebebf3;
}

::-webkit-scrollbar-thumb {
    background-color: #A3CEF1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #6096BA;
}


/* Width and color */
html {
    scrollbar-width: thin;
    scrollbar-color: #A3CEF1 #ebebf3;
}

/* Thumb */
html::-moz-scrollbar-thumb {
    background-color: #A3CEF1;
    border-radius: 6px;
}

html::-moz-scrollbar-thumb:hover {
    background-color: #6096BA;
}

/* CSS for preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ebebf3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #6096BA; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.notification-container {
    position: fixed;
    z-index: 9999;
    right: 0;
}

.alert {
    margin-bottom: 10px;
    padding: 15px 20px;
    min-width: 400px;
    position: relative;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    border-left: 8px solid;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}

.alert.showAlert {
    opacity: 1;
    pointer-events: auto;
}

.alert.show {
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

.alert.hide {
    animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide {
    0% {
        transform: translateX(-10px);
    }
    40% {
        transform: translateX(0%);
    }
    80% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(110%);
    }
}

.alert .fa-check-circle {
    color: #4caf50;
}

.alert .fa-info-circle {
    color: #2196f3;
}

.alert .fa-times-circle {
    color: #f44336;
}

.alert .msg {
    padding: 0 20px;
    font-size: 17px;
}

.alert .close-btn {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    background: #f1f1f1;
    padding: 20px 18px;
    cursor: pointer;
}

.alert .close-btn:hover {
    background: #ddd;
}

.alert .close-btn .fas {
    font-size: 22px;
    line-height: 40px;
}

.success {
    border-color: #4caf50;
    background-color: #e7f6ea;
}

.info {
    border-color: #2196f3;
    background-color: #e8f4fd;
}

.failure {
    border-color: #f44336;
    background-color: #f9e7e7;
}


